<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="IP" value="127.0.0.1"/>
    <add key="Port" value="8080"/>
    <add key="Arguments" value="/noauth /anyuser /port 1234 /nosecuritywarn"/>
    <add key="RemoteName" value="x64\msvsmon.exe"/>
    <add key="SaveFilePath" value="C:\temp\"/>
    <!--<add key="RemotePath" value="C:\"/>-->
    <!--<add key="DebugPath" value="C:\Debug.zip"/>
    <add key="RemotePath" value="C:\Remote.zip"/>
    <add key="DebugFilePath" value="C:\Debug"/>
    <add key="RemoteFilePath" value="C:\Remote"/>-->
  </appSettings>
</configuration>